body {
  margin: 0;
  background-color: #ddd0c8;

  text-align: center;
  font-family: DM Sans, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 8px #888888;
}

nav {
  display: flex;
}

nav a {
  margin-left: 10px;
  color: #323232;

  text-decoration: none;
}

nav a:hover {
  color: #bfafa5;
  font-weight: 600;
}

.welcomeMsg {
  color: #bfafa5;
}

.welcomeMsg span {
  font-size: 10px;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 17px;
}

.hotels-list a {
  text-decoration: none;
  color: #323232;
}

.hotels-card {
  background-color: white;
  border: 2px solid #bfafa5;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hotels-img-info {
  display: flex;
  justify-content: space-between;

  border-bottom: 2px solid #bfafa5;
}

.hotels-img {
  width: 250px;
  height: 350px;
}

.hotels-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotels-info {
  padding: 10px 0px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hotels-info-n {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 200px;
  gap: 0 10px;
}

.amenity-list,
.amenity-list-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 15px;
  max-width: 500px;
  height: 100px;
}
.amenity-list-details {
  max-width: 100%;
}

.amenity-card {
  display: flex;
  align-items: center;
}

/* hotle details CSS */
.hotel-details {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.hotel-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.hotel-details img {
  width: 100%;
  max-width: 350px;
  border-radius: 4px;
  margin-bottom: 20px;
}

section {
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
  line-height: 1.6;
  text-align: left; 
}

.hotel-booking,
.hotel-reviews {
  text-align: center;
}

.hotel-reviews {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.sort-list {
  margin-bottom: 30px;
}

.sort-list select {
  background-color: white;
  border: 2px solid #bfafa5;
  border-radius: 4px;
  width: 10em;
  height: 2em;
  font-size: 1em;
  color: #323232;
  margin: 0 10px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-carousel .legend {
  border: 2px solid #bfafa5;
  border-radius: 4px;
  color: #323232  !important;
  background-color: rgba(255, 255, 255, 0.7)  !important;
}

.custom-carousel {
  margin-bottom: 10px;
}

button {
  border: 2px solid #bfafa5 !important;
  border-radius: 4px;
  color: #323232  !important;
  background-color: rgb(255, 255, 255)  !important;
}
button:hover {
  background-color: #bfafa5 !important;
  color: #fff !important;
  cursor: pointer;
}

table {
  background-color: #fff;
  border: 3px solid #bfafa5 !important;
}

.card {
  margin-bottom: 10px;
  border: 2px solid #bfafa5;
  border-radius: 4px;
}

.search {
  width: 60vw;
}
.search form {
  display: flex;
  align-items: center;
  gap: 10px
}

input, select, textarea {
  border: 2px solid #bfafa5 !important;
  border-radius: 4px;
}

.form-control:focus, .btn:focus, select:focus {
  border-color: #bfafa5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #7b6f67;
}

.profile-form button {
  margin: 0 10px;
}

.carousel button {
  border: 0px solid #bfafa5 !important;
  border-radius: 4px;
  color: #323232  !important;
  background-color: rgba(255, 255, 255, 0)  !important;
}
/* END */
