body {
  margin: 0;
  background-color: #ddd0c8;

  text-align: center;
  font-family: DM Sans, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 8px #888888;
}

nav {
  display: flex;
}

nav a {
  margin-left: 10px;
  color: #323232;

  text-decoration: none;
}

nav a:hover {
  color: #bfafa5;
  font-weight: 600;
}

.welcomeMsg {
  color: #bfafa5;
}

.welcomeMsg span {
  font-size: 10px;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 17px;
}

.hotels-list a {
  text-decoration: none;
  color: #323232;
}

.hotels-card {
  background-color: white;
  border: 2px solid #bfafa5;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hotels-img-info {
  display: flex;
  justify-content: space-between;

  border-bottom: 2px solid #bfafa5;
}

.hotels-img {
  width: 250px;
  height: 54vh;
}

.hotels-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotels-info {
  padding: 10px 0px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hotels-info-n {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 200px;
  gap: 0 10px;
}

.amenity-list,
.amenity-list-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 15px;
  max-width: 500px;
  height: 100px;
}
.amenity-list-details {
  max-width: 100%;
}

.amenity-card {
  display: flex;
  align-items: center;
}

/* hotle details CSS */
.hotel-details {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.hotel-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.hotel-details .carousel img {
  width: 100%;
  height: 410px;
  border-radius: 4px;
  margin-bottom: 20px;
}

section {
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
  line-height: 1.6;
  text-align: left;
}

.hotel-booking,
.hotel-reviews {
  text-align: center;
}

.hotel-reviews {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  max-height: 500px;
  overflow-y: auto;
}

.sort-list {
  margin-bottom: 30px;
}

.sort-list select {
  background-color: white;
  border: 2px solid #bfafa5;
  border-radius: 4px;
  width: 10em;
  height: 2em;
  font-size: 1em;
  color: #323232;
  margin: 0 10px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-carousel .legend {
  border: 2px solid #bfafa5;
  border-radius: 4px;
  color: #323232  !important;
  background-color: rgba(255, 255, 255, 0.7)  !important;
}

.custom-carousel {
  margin-bottom: 10px;
}

button {
  border: 2px solid #bfafa5 !important;
  border-radius: 4px;
  color: #323232  !important;
  background-color: rgb(255, 255, 255)  !important;
}
button:hover {
  background-color: #bfafa5 !important;
  color: #fff !important;
  cursor: pointer;
}

table {
  background-color: #fff;
  border: 3px solid #bfafa5 !important;
}

.card {
  margin-bottom: 10px;
  border: 2px solid #bfafa5;
  border-radius: 4px;
}

.search {
  width: 98vw !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.search form {
  display: flex !important;
  align-items: center !important;
  gap: 10px;
  width: 60%;
}

input, select, textarea {
  border: 2px solid #bfafa5 !important;
  border-radius: 4px;
}

.form-control:focus, .btn:focus, select:focus {
  border-color: #bfafa5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #7b6f67;
}

.profile-form button {
  margin: 0 10px;
}

.carousel button {
  border: 0px solid #bfafa5 !important;
  border-radius: 4px;
  color: #323232  !important;
  background-color: rgba(255, 255, 255, 0)  !important;
}

.hotel-full {
  display: flex;
  justify-content: center;
}

.hotel-booking p {
  font-size: 18px;
  color: #da3832;
  margin-top: 20px;
  font-weight: bold;
  padding: 15px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  width: 50%;
}

.hotel-container {
  position: relative;
  display: inline-block;
}

#hotel-isfull {
  position: absolute;
  top: 4.3%;
  left: 22.6%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 45.5%;
}
/* END */

/* For SignIn */
.bg-form {
  background-color: hwb(0 100% 0%);
  width: 470px;
  height: 400px;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  padding: 30px;

  border: 1px solid #ccc;
  border-radius: 15px;
}
/* END */

/* Message  */
.message {
  position: fixed;
  top: 16%;
  left: 89%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 50px;
  background-color: #f8d7da;
  color: #721c24;
  padding: 15px 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-family: "Arial Narrow Bold", sans-serif;
}

.bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bookings-table {
  max-width: 98vw;
  overflow-x: auto;
}
/* END */
